<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Arduheater_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <Arduheater_GUI.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SerialPort" serializeAs="String">
        <value />
      </setting>
      <setting name="SerialRate" serializeAs="String">
        <value>57600</value>
      </setting>
      <setting name="SerialData" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SerialParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="SerialStop" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="SerialFlow" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Output_1_Title" serializeAs="String">
        <value>Generic device A</value>
      </setting>
      <setting name="Output_2_Title" serializeAs="String">
        <value>Generic device B</value>
      </setting>
      <setting name="Output_3_Title" serializeAs="String">
        <value>Generic device C</value>
      </setting>
      <setting name="Output_4_Title" serializeAs="String">
        <value>Generic device D</value>
      </setting>
      <setting name="Ambient_Legend_Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Output_Legend_Visible" serializeAs="String">
        <value>True</value>
      </setting>
    </Arduheater_GUI.Properties.Settings>
  </userSettings>
</configuration>